<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Films</title>
    </head>
    <body>

        <div>
            <header>
                <div class="header_left"><h2>E-Movie</h2></div>
                <div class="header_mid">
                    <div><a href="/films">Films</a></div>
                    <div><a href="/distributeurs">Distributeurs</a></div>
                    <div><a href="/genre">Genres</a></div>
                </div>
                <nav class="header_right">
                    <div class="filmcss"><strong>Films : (<%= count %>)</strong></div> 
                </nav>
            </header>
        </div>

        <div class="howmany"><h2>Combien de films par page ?</h2></div>
        <div class="limit">
            <div>
                <button class="btn_limit"><a href="?limit=10">10</a></button>
                <button class="btn_limit"><a href="?limit=20">20</a></button>
                <button class="btn_limit"><a href="?limit=50">50</a></button>
            </div>

        </div>
        <div>
            <h2>Une page en particulier ?</h2>
            <% for(var i=1; i <= Math.ceil(count/limit); i++) { %>
                <button class="btn_show"><a href="?page=<%= i %>&limit=<%= limit %>&order=<%= order %>"><%= i %></a></button>
            <% } %>
        </div>
  
        <table>
            <tr class="tr">
                <th>
                    <a class="filmlink" href="?order=id_film">ID</a>
                </th>
                <th>
                    <a class="filmlink" href="?order=titre">Titre</a>
                </th>
                <th>
                    <a class="filmlink" href="?order=resum">Resum</a>
                </th>
                <th>
                    <a class="filmlink" href="?order=date_debut_affiche">Date debut affiche</a>
                </th>
                <th>
                    <a class="filmlink" href="?order=date_fin_affiche">Date fin affiche</a>
                </th>
                <th>
                    <a class="filmlink" href="?order=duree_minutes">Durée minutes</a>
                </th>
                <th>
                    <a class="filmlink" href="?order=annee_production">Année production</a>
                </th>
            </tr>
            <% for(var i=0; i < films.length; i++) { %>
                <tr class="tr">
                    <td>
                        <%= films[i].id_film %>
                    </td>
                    <td>
                        <%= films[i].titre %>
                    </td>
                    <td>
                        <%= films[i].resum %>
                    </td>
                    <td>
                        <%= films[i].date_debut_affiche %>
                    </td>
                    <td>
                        <%= films[i].date_fin_affiche %>
                    </td>
                    <td>
                        <%= films[i].duree_minutes %>
                    </td>
                    <td>
                        <%= films[i].annee_production %>
                    </td>
                    <td>
                        <a href="/films/<%= films.id_film %>" style="color: red" class="delete-film"> Supprimer </a>
                    </td>
                </tr>
            <% } %>
        </table>

    </body>

    <script>
        document.querySelectorAll(".filmlink").forEach((el) => {
            el.addEventListener('click', function(e) {
                var d = el.getAttribute("d")
                var link = el.getAttribute("link")
                if (d) {
                    el.setAttribute("link", link + "&d=1")
                    el.setAttribute("d", false)
                }
                else {
                    el.setAttribute("d", true)
                }
            })
        })

        var socket = io('http://localhost:3000');

        socket.on('films', (data) => {
            document.querySelector(`#film_${data.id_film}`).remove()
        });

        document.querySelectorAll('.delete-film').forEach((el) => {
            el.addEventListener('click', function (e) {
                e.preventDefault()
                fetch(this.href, {
                    method: "DELETE"
                })
            })

        })
    </script>

</html>